# Ignore node_modules directory
node_modules/

# Ignore logs and other runtime data
logs/
*.log

# Ignore any local development environment files
.env

# Ignore npm's cache
.npm
.npmrc

# Ignore built output and distribution directories
dist/
build/
out/

# Ignore VSCode settings
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db
